<div class="social-wrapper">
  <div class="social " data-pages="social">
    <div class="jumbotron" data-social="cover" data-pages="parallax">
      <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
          <div class="center-catch text-center m-b-40 sm-p-l-15">
            <%= image_tag 'debzagg_trans.png' %>
            <h5 class="text-white no-margin">Participez, Organisez, Gagnez des tournois</h5>
            <button class="btn btn-primary">Organisez un evenement</button>
            <button class="btn btn-default">Trouver un evenement</button>
          </div>
        </div>
      </div>
      <div class="cover-photo">
        <%= image_tag 'cover.jpg' %>
      </div>
    </div>
  </div>
</div>
