<div class="social-wrapper">
  <div class="social " data-pages="social">
    <%= render "user_infos" %>
    <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">
    </div>
  </div>
</div>
